<%= page_title "About Us" %>
<div class="team-wrapper">
  <!-- Mentor Section -->
  
 <div class="mentor-container">
  <div class="mentor">
    <%= link_to "https://www.linkedin.com/in/tmu-faculty-mohan-vishal-gupta-64199b1a7/", target: "_blank", class: "mentor-card" do %>
      <%= image_tag "mentor.jpeg", alt: "Project Mentor" %>
      <h3>Dr. Mohan Vishal Gupta</h3>
      <p>Project Mentor</p>
    <% end %>
  </div>

  <div class="mentor">
    <%= link_to "https://www.linkedin.com/in/gaurav-rajput-30b43a28/", target: "_blank", class: "mentor-card" do %>
      <%= image_tag "sir2.jpeg", alt: "Project Guide" %>
      <h3>Mr. Gaurav Kumar Rajput</h3>
      <p>Project Guide</p>
    <% end %>
  </div>
</div>

  <!-- Team Members Section -->
  <div class="team-container">
    <%= link_to "https://www.linkedin.com/in/astha-jain-739b2333b/", target: "_blank", class: "team-member" do %>
      <%= image_tag "member1.jpeg", alt: "ASHTA JAIN" %>
      <h3>ASHTA JAIN</h3>
      <p>B.Tech AI, 7th Semester</p>
      <p>Frontend Developer</p>
    <% end %>

    <%= link_to "https://www.linkedin.com/in/sarthak-jain-8241ab24a/", target: "_blank", class: "team-member" do %>
      <%= image_tag "member3.jpeg", alt: "SARTHAK JAIN" %>
      <h3>SARTHAK JAIN</h3>
      <p>B.Tech AI, 7th Semester</p>
      <p>Machine Learning Developer</p>
    <% end %>

    <%= link_to "https://www.linkedin.com/in/ronakjain3011/", target: "_blank", class: "team-member" do %>
      <%= image_tag "member2.jpeg", alt: "RONAK JAIN" %>
      <h3>RONAK JAIN</h3>
      <p>B.Tech AI, 7th Semester</p>
      <p>Backend Developer / DevOps Engineer</p>
    <% end %>
  </div>
</div>
